{{!

  Custom user editor elements.

  The predefined scope will be "req.form.map", meaning that custom form elements
  added via a custom buildAddEditUserForm method can be rendered without fully
  qualifying the scope path.

  Do not define script here.  Use user-edit-script.mustache instead.

}}