{{!

  Custom user list form elements.

  The predefined scope will be "req.form.map", meaning that custom form elements
  added via a custom buildUserListForm  method can be rendered without fully
  qualifying the scope path.

}}