<div class="content-column">
  <nav class="subnav">

  </nav>
  <div class="contentcontainer" data-bind="if: user() !== null">
    <h1 data-bind="if: privateKeyArmored === null">Setup</h1>
    <h1 data-bind="if: privateKeyArmored !== null">Edit</h1>

    <div data-bind="foreach: errors">
        <div class="alert alert-danger" role="alert" data-bind="text: instruction"></div>
    </div>

    <form class="login-form auto-focus vert-margin40" data-bind="submit: save">
      <div class="form-container centered-400 peach">
        <div id="success" data-bind="foreach: success">
          <div class="success form-row">
            <div class="validation-instruction" data-bind="text: instruction"></div>
          </div>
        </div>
        <div class="form-row">
          <input type="text" disabled="disabled" data-bind="value: user().username" /><label class="label">Username</label>
        </div>
        <div class="form-row">
          <label for="firstname" class="label">First name</label>
          <input type="text" name="firstname" id="firstname" data-bind="value: user().firstname" />
        </div>
        <div class="form-row">
          <input type="text" name="lastname" id="lastname" data-bind="value: user().lastname" /><label for="lastname" class="label">Last name</label>
        </div>
        <div class="form-row">
          <input type="email" name="email" id="email" data-bind="value: user().email" /><label for="email" class="label">E-mail</label>
        </div>
        <div class="form-row">
          <input type="checkbox" name="friendsOnly" id="friendsOnly" data-bind="checked: user().friendsOnly" /><label for="friendsOnly" class="label">Friends-only</label>
        </div>
        <div class="form-row">
          <textarea id="publicKey" name="publicKey" data-bind="value: publicKeyArmored"></textarea><label for="publicKey" class="label">Public Key</label>
        </div>
        <div class="form-row">
          <textarea id="privateKey" name="privateKey" data-bind="value: privateKeyArmored"></textarea><label for="privateKey" class="label">Private Key</label>
        </div>
        <div class="form-row">
          <input type="submit" name="Save" value="Save" data-bind="submit: save" /><label for="save" class="label">&nbsp;</label>
        </div>
      </div>
    </form>

    <div id="newKey" style="display:none;">
      <h1>Success!</h1>
      <p>Your new public and private keys are entered into the public/private key fields.
      <p>Again, the private key will NEVER be sent to the server; this private key is YOUR private key and the only way to decrypt messages encrypted using your new public key.
      <p>You can check the <a href="/faq">FAQ</a> for more information on how the public/private keys are used on the site and how to verify your privacy.
      <p>Note: NEVER give your private key to anyone or they will be able to decrypt messages sent to you.
    </div>

    <div id="workingNewKey" style="display:none;">
      <h1>Working...</h1>
      <p><center><img src="/images/spinnerLarge.gif" /></center></p>
      <p>Since we are using large keys, generating the primes can take some time.</p>
    </div>
    <div id="confirmNew" style="display:none;">
      <h1>New Keypair</h1>
      <p>Generating a keypair is a mathematically complicated operation. Your browser may seem to have crashed, but it is working; give it a chance to finish.
      <p>After your keypair is generated, the public and private key fields will be automatically updated for you.
      <p>Note: Keep your private key private! [TODO] will never ask you for your private key, and saving the profile page will NOT upload your private key.
      <div><center><button data-bind="click: generateKeypair">Do it!</button></center></div>
    </div>
    <div id="confirmOld" style="display:none;">
      <h1>New Keypair</h1>
      <p>Are you sure you want to replace the current keypair?
      <p>IMPORTANT: If you replace your current keypair, any old messages sent to you will no longer be able to be decrypted. This means that those messages are ostensibly lost forever.
      <p>You can check the <a href="/faq">FAQ</a> for more information on public/private keys and how they are used.
      <div><center><button data-bind="click: generateKeypair">Do it!</button></center></div>
    </div>

    <div class="tip" id="firstnametip" style="display:none;" data-bind="attachFirstnameTooltip">
      <h5>First name</h5>
      <div class="note">Not required</div>
      <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
      <div class="instruction">Providing your first name may help people find and contact you.</div>
    </div>

    <div class="tip" id="lastnametip" style="display:none;" data-bind="attachLastnameTooltip">
      <h5>Last name</h5>
      <div class="note">Not required</div>
      <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
      <div class="instruction">Providing your last name may help people find and contact you.</div>
    </div>

    <div class="tip" id="emailtip" style="display:none;" data-bind="attachEmailTooltip">
      <h5>E-mail Address</h5>
      <div class="note">Not required</div>
      <div class="note">[TODO] will never contact you via e-mail.</div>
      <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
      <div class="instruction">Providing your e-mail address may help people find and contact you, but this information is public and so anyone can potentially e-mail you if you provide it.</div>
    </div>

    <div class="tip" id="friendsOnlytip" style="display:none;" data-bind="attachFriendsOnlyTooltip">
      <h5>Friends only messaging</h5>
      <div class="note">Not required</div>
      <div class="instruction">Setting your account to friends-only means that only your friends can send you encrypted messages.</div>
    </div>

    <div class="tip" id="publicKeytip" style="display:none;" data-bind="attachPublicKeyTooltip">
      <h5>Public Key</h5>
      <div class="note">Required</div>
      <div>Your public key is used by others to encrypt messages that only you, the owner of the private key, can decrypt.</div>
      <div class="instruction">You can copy and paste a PGP/GPG-generated RSA Public Key here, or we can do it for you:<br/><button data-bind="click: confirmGenerateKeypair">Generate a keypair</button></div>
    </div>

    <div class="tip" id="privateKeytip" style="display:none;" data-bind="attachPrivateKeyTooltip">
      <h5>Private Key</h5>
      <div class="note">Required</div>
      <div class="note">[TODO] will never ask for your private key.</div>
      <div>Your private key is used to decrypt messages others have sent to you using your public key for encryption. Your private key is never sent to the server.</div>
      <div>You can read more about how public and private keys are used on the <a href="/faq">FAQ</a>.</div>
      <div class="instruction">Never give this to anyone; this is how your messages stay private.</div>
    </div>
  </div>
</div>