<div class="content-column">
  <nav class="subnav">

  </nav>
  <div class="contentcontainer">
    <p>Have you forgotten your password?  If so, provide your account's username in the form below to reset your password.</p>

    <form id="password-reset-form" method="post" class="auto-focus vert-margin40" data-bind="submit: resetPassword">
    <div class="form-container centered-400 peach">
      <div id="errors"></div>
      <div class="form-row">
        <label class="label" for="un">Username</label>
        <input type="text" name="un" data-bind="value: username" />
      </div>
      <div class="form-row">
        <label class="label"></label>
        <input type="submit" value="Submit" id="submit"></input>
      </div>
    </div>
  </div>
</div>