<div class="content-column ">
  <nav class="subnav">

  </nav>
  <div class="contentcontainer">
    <h1 class="no-margin"">Friends</h1>

    <ul data-bind="foreach: friends">
      <li>
        <span data-bind="text: firstname + ' ' + lastname"></span>
        <a data-bind="click: function(){ $parent.openMessageDialog(username, id, publicKey) }">Message</a>
      </li>
    </ul>

  </div>

</div>

<div id="messageDialog" style="display:none;">
  <h1 data-bind="text: username"></h1>
  <form data-bind="submit: sendMessage">
    <textarea data-bind="value: message"></textarea>
    <input type="submit" value="Send Message" />
  </form>
</div>