{{</geminiadmin/admin-layout}}
{{$subtitle}}List of cache relationships{{/subtitle}}
{{$sub}}{{#req}}{{>/geminiadmin/cache-subnav}}{{/req}}{{/sub}}
{{$adminbody}}
<h1>Relation List</h1>

{{#req}}
{{{paging}}}

<table class="admin-table">
  <tr>
    <th>Class Name</th>
    <th>Table Name</th>
    <th>Left Class</th>
    <th>Right Class</th>
    <th class="actions">Actions</th>
  </tr>
  {{#relations}}
  <tr>
    <td>
      {{name}}
    </td>
    <td>
      {{relation.tableName}}
    </td>
    <td>
      <a href="{{baseUri}}/cache/object-list?cid={{relation.leftType.name}}">{{relation.leftType.simpleName}}</a>
    </td>
    <td>
      <a href="{{baseUri}}/cache/object-list?cid={{relation.rightType.name}}">{{relation.rightType.simpleName}}</a>
    </td>
    <td class="actions">
      <a href="{{baseUri}}/cache/relation-view?relation={{relation.tableName}}">View</a>
      <a href="{{baseUri}}/cache/relation-reset?relation={{relation.tableName}}">Reset</a>
    </td>
  </tr>
  {{/relations}}
</table>

{{{paging}}}
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}