{{</geminiadmin/admin-layout}}
{{$subtitle}}List of cache groups{{/subtitle}}
{{$sub}}{{#req}}{{>/geminiadmin/cache-subnav}}{{/req}}{{/sub}}
{{$adminbody}}
<h2>Cache Maintenance</h2>

{{#req}}
<ul>
  <li><a title="Reset all" href="{{baseUri}}/cache/reset">Reset all caches</a></li>
</ul>

<h2>Cache Groups</h2>

<table class="admin-table">
<tr>
  <th>Class</td>
  <th class="numeric">Count</th>
  <th class="actions">Actions</th>
</tr>

{{#list}}
<tr>
  <td>{{name}}</td>
  <td class="numeric">{{size}}</td>
  <td class="actions">
    <a title="List objects" href="{{baseUri}}/cache/object-list?cid={{name}}">List</a>
    <a title="Reset this cache" href="{{baseUri}}/cache/reset?cid={{name}}">Reset</a>
  </td>
</tr>
{{/list}}

</table>
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}