{{</geminiadmin/admin-layout}}
{{$subtitle}}List of cache relationships{{/subtitle}}
{{$sub}}{{#req}}{{>/geminiadmin/cache-subnav}}{{/req}}{{/sub}}
{{$adminbody}}
<h1>Relation View</h1>

{{#req}}

<h2>{{relation.tableName}}</h2>

<b>Type:</b> {{relationType}}<br />
<b>Size:</b> {{pairs.size}}<br />
<b>Listeners:</b> {{relationListeners.size}}<br />

{{{paging.render}}}

<table class="admin-table">
  <tr>
    <th class="numeric">Left</th>
    <th>Left Value</th>
    <th class="numeric">Right</th>
    <th>Right Value</th>
    <th class="actions">Actions</th>
  </tr>
  {{#pairs}}
  <tr>
    <td class="item numeric">
      {{left.id}}
    </td>
    <td>
      <a href="{{baseUri}}/cache/object-view?cid={{left.class}}&id={{left.id}}">{{left.name}}</a>
    </td>
    <td class="item numeric">
      {{right.id}}
    </td>
    <td>
      <a href="{{baseUri}}/cache/object-view?cid={{right.class}}&id={{right.id}}">{{right.name}}</a>
    </td>
    <td class="actions">
      <a href="{{baseUri}}/cache/relation-remove?relation={{relation.tableName}}&left={{left.id}}&right={{right.id}}">Remove</a>
    </td>
  </tr>
  {{/pairs}}
</table>

{{{paging.render}}}
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}