{{! Renders validation instructions in a bullet list. }}
{{#req.validation}}
<ul class="validation">
  {{#instructions}}
  <li class="validation-item">{{.}}</li>
  {{/instructions}}
</ul>
{{/req.validation}}