{{</geminiadmin/admin-layout}}
{{$subtitle}}Information{{/subtitle}}
{{$sub}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}geminiadmin/admin-dashboard.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">

</script>{{/adminjs}}
{{$adminbody}}

{{#req}}

<h1>Information</h1>

<p>{{message}}</p>

{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}