{{</geminiadmin/admin-layout}}
{{$subtitle}}Performance Monitoring{{/subtitle}}
{{$sub}}{{#req}}{{>/geminiadmin/monitor-subnav}}{{/req}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}geminiadmin/admin-notifications.css" />{{/auxCss}}
{{$adminjs}}
{{#req}}
<script type="text/javascript">
var detail = "{{baseUri}}/monitor/monitor-detail?command=",
    exc = 5,
    commands = {{{commands}}},
    content = "",
    concurrencyHighlight = 10;

function openWatch() {
  window.open("/html/admin-compact-performance-monitor.html", "PerformanceMonitor", "resizeable=yes,scrollbars=yes,status=no,menubar=no,toolbar=no,width=500,height=680");
}

function render(commands) {
  $("tbody#cmds").html(gba.renderPerformanceMonitorList(commands, detail, exc, {{#includeSpecialTime}}1{{/includeSpecialTime}}{{^includeSpecialTime}}0{{/includeSpecialTime}}, concurrencyHighlight));
};

function refresh() {
  var checked = $("input#refr:checked").length;

  if (checked == 1) {
    $.ajax({
      url: "{{baseUri}}/monitor/monitor-list?mode=1",
      dataType: 'json',
      type: 'get',
      data: { mode: 1 },
      success: function(data) {
        console.log(data.commands);
        render(data.commands);
      },
      error: function(data) {
        console.log(data);
      }
    });
  }
}

render(commands);
window.setInterval(refresh, 5000);
</script>
{{/req}}
{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>Performance Monitoring</h2>
<div style="float: right"><a href="javascript:openWatch()">Open Watch</a> | <input type="checkbox" id="refr" name="refr" value="1" /><label for="refr">&nbsp;Automatically refresh</label></div>
<p>The following commands have been observed in the application's {{uptime}}.</p>

<table class="admin-table">
<tr>
  <th rowspan="2" valign="bottom">Command</th>
  <th rowspan="2" valign="bottom"><abbr title="Current load">CL</abbr></th>
  <th rowspan="2" valign="bottom"><abbr title="Count since application start">Count</abbr></th>
  <th rowspan="2" valign="bottom"><abbr title="Count in last hour">LH</abbr></th>
  <th rowspan="2" class="separator">&nbsp;</th>
  <th colspan="{{#includeSpecialTime}}9{{/includeSpecialTime}}{{^includeSpecialTime}}8{{/includeSpecialTime}}" align="center">Average in last hour</th>
  <th rowspan="2" class="separator">&nbsp;</th>
  <th colspan="{{#includeSpecialTime}}7{{/includeSpecialTime}}{{^includeSpecialTime}}6{{/includeSpecialTime}}" align="center">Worst in last hour</th>
  <th rowspan="2" class="separator">&nbsp;</th>
  <th colspan="{{#includeSpecialTime}}10{{/includeSpecialTime}}{{^includeSpecialTime}}9{{/includeSpecialTime}}" align="center">Most recent request</th>
</tr>
<tr>
  <th class="numeric"><abbr title="Dispatches">Ds</abbr></th>
  <th class="numeric"><abbr title="Queries">Qs</abbr></th>
  <th class="numeric"><abbr title="Query Exceptions">QEs</abbr></th>
  <th class="numeric"><abbr title="Query Time">QT</abbr></th>
  {{#includeSpecialTime}}<th class="numeric"><abbr title="Special Time">ST</abbr></th>{{/includeSpecialTime}}
  <th class="numeric"><abbr title="Logic Time">LT</abbr></th>
  <th class="numeric"><abbr title="Render Time">RT</abbr></th>
  <th class="numeric"><abbr title="CPU Time">CT</abbr></th>
  <th class="numeric">Total</th>
  <th class="numeric"><abbr title="Queries">Qs</abbr></th>
  <th class="numeric"><abbr title="Query Exceptions">QEs</abbr></th>
  <th class="numeric"><abbr title="Query Time">QT</abbr></th>
  {{#includeSpecialTime}}<th class="numeric"><abbr title="Special Time">ST</abbr></th>{{/includeSpecialTime}}
  <th class="numeric"><abbr title="Logic Time">LT</abbr></th>
  <th class="numeric"><abbr title="Render Time">RT</abbr></th>
  <th class="numeric"><abbr title="CPU Time">CT</abbr></th>
  <th>Time</th>
  <th class="numeric"><abbr title="Dispatches">Ds</abbr></th>
  <th class="numeric"><abbr title="Queries">Qs</abbr></th>
  <th class="numeric"><abbr title="Query Exceptions">QEs</abbr></th>
  <th class="numeric"><abbr title="Query Time">QT</abbr></th>
  {{#includeSpecialTime}}<th class="numeric"><abbr title="Special Time">ST</abbr></th>{{/includeSpecialTime}}
  <th class="numeric"><abbr title="Logic Time">LT</abbr></th>
  <th class="numeric"><abbr title="Render Time">RT</abbr></th>
  <th class="numeric"><abbr title="CPU Time">CT</abbr></th>
  <th>Total</th>
</tr>
<tbody id='cmds'>
</tbody>
</table>

<p>Ds: Dispatches; Qs: Queries; QEs: Query errors; QT: Query Time; {{#includeSpecialTime}}ST: Special Time; {{/includeSpecialTime}}LT: Logic Time; RT: Render Time</p>
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}