{{</geminiadmin/admin-layout}}
{{$subtitle}}Administrative Notifications{{/subtitle}}
{{$sub}}{{#req}}{{>/geminiadmin/monitor-subnav}}{{/req}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}geminiadmin/admin-notifications.css" />{{/auxCss}}
{{$adminjs}}
{{#req}}
<script>

var detail = '{{baseUri}}/system/thread-view/?id=',
    requests = {{{requests}}},
    content = "";

function openWatch() {
  window.open("/html/admin-compact-performance-monitor.html", "PerformanceMonitor", "resizeable=yes,scrollbars=yes,status=no,menubar=no,toolbar=no,width=500,height=680");
}

function render(requests) {
  $("tbody#reqs").html(gba.renderCurrentRequestList(requests, detail, {{#includeSpecialTime}}1{{/includeSpecialTime}}{{^includeSpecialTime}}0{{/includeSpecialTime}}));
};

function refresh() {
  var checked = $("input#refr:checked").length;

  if (checked == 1)   {
    $.ajax({
      url: "{{baseUri}}/monitor/current?mode=1",
      dataType: 'json',
      type: 'get',
      data: {},
      success: function(data) {
          render(data.requests);
        }
      });
  }
}

render(requests);
window.setInterval(refresh, 5000);

</script>
{{/req}}
{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>Current Requests</h2>
<div style="float: right"><a href="javascript:openWatch()">Open Watch</a> |<input type="checkbox" id="refr" name="refr" value="1" /><label for="refr">&nbsp;Automatically refresh</label></div>
<p>The following commands are being processed right now.</p>

<table class="admin-table">
<tr>
  <th>Command</th>
  <th><abbr title="Request Number">Req</abbr></th>
  <th><abbr title="Thread ID">TID</abbr></th>
  <th><abbr title="Request start time">Time</abbr></th>
  <th class="separator">&nbsp;</th>
  <th class="numeric"><abbr title="Dispatches">Ds</abbr></th>
  <th class="numeric"><abbr title="Queries">Qs</abbr></th>
  <th class="numeric"><abbr title="Query Exceptions">QEs</abbr></th>
  <th class="numeric"><abbr title="Query Time">QT</abbr></th>
  {{#includeSpecialTime}}<th class="numeric"><abbr title="Special Time">ST</abbr></th>{{/includeSpecialTime}}
  <th class="numeric"><abbr title="Logic Time">LT</abbr></th>
  <th class="numeric"><abbr title="Render Time">RT</abbr></th>
  <th class="numeric"><abbr title="CPU Time">CT</abbr></th>
  <th class="numeric"><abbr title="Total time">Total</abbr></th>
</tr>
<tbody id='reqs'>
</tbody>
</table>

<p>Ds: Dispatches; Qs: Queries; QEs: Query errors; QT: Query Time; {{#includeSpecialTime}}ST: Special Time; {{/includeSpecialTime}}LT: Logic Time; RT: Render Time</p>

{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}