{{</geminiadmin/admin-layout}}
{{$subtitle}}Active Threads{{/subtitle}}
{{$sub}}{{/sub}}
{{$adminbody}}

{{#req}}
<h2>Active Threads</h2>

<table class="admin-table threadlist">
<tr>
  <th>Name</th>
  <th class="numeric">ID</th>
  <th class="numeric">Pr.</th>
  <th>Class&nbsp;name</th>
  <th>Run&nbsp;time</th>
  <th>CPU</th>
  <th>Request&nbsp;CPU</th>
  <th>Status</th>
  <th>Actions</th>
</tr>

{{#threads}}
<tr>
  <td class="item">{{name}}</td>
  <td class="numeric">{{id}}</td>
  <td class="{{priorityName}}" align="right">{{priority}}</td>
  <td title="{{{classname}}}">{{classnameShort}}</td>
  <td class="nowrap">{{runtime}}</td>
  <td class="nowrap">{{cpu}}</td>
  <td class="nowrap">{{requestCpu}}</td>
  <td class="nowrap {{stateStyle}}">{{flags}}</td>
  <td class="actions nowrap">
    {{#endable}}{{#paused}}<a
       href="{{baseUri}}/system/thread-pause?id={{id}}&pause=0">Resume</a>{{/paused}}{{^paused}}&nbsp;<a
       href="{{baseUri}}/system/thread-pause?id={{id}}&pause=1">Pause</a>{{/paused}}&nbsp;<a
       href="{{baseUri}}/system/thread-end?id={{id}}">End</a>&nbsp;{{/endable}}<a
       href="{{baseUri}}/system/thread-view?id={{id}}">View</a>&nbsp;<a
       href="{{baseUri}}/system/thread-interrupt?id={{id}}">Interrupt</a>
  </td>
</tr>
{{/threads}}

</table>

<p>
Note that pausing EndableThread subclasses will not necessarily or immediately pause their execution.  Execution will only be paused on the thread's next invocation of the checkPause() method.
</p>
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}