{{</geminiadmin/admin-layout}}
{{$subtitle}}List {{req.className}}{{/subtitle}}
{{$sub}}<a href="/geminiadmin/users/user-list">List Users</a>{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}geminiadmin/admin-dashboard.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">

</script>{{/adminjs}}
{{$adminbody}}

{{#req}}

<h2>Group membership for {{user.userFullname}} ({{user.userUsername}})</h2>

<table class="admin-table">
  <tr>
    <th colspan="2">{{user.userFullname}} is a member of</th>
  </tr>
  {{#membership}}
  <tr>
    <td class="item"><a title="{{description}}" href="{{baseUri}}/users/group-membership-edit?id={{user.id}}&remove={{id}}&{{nonce}}">{{name}}</a></td><td>Group #{{id}}</td>
  </tr>
  {{/membership}}
  {{^membership}}
  <tr>
    <td colspan="2">(none)</td>
  </tr>
  {{/membership}}
  <tr class="sub">
    <th colspan="2">Available groups</th>
  </tr>
  {{#groups}}
  <tr>
    <td class="item"><a title="{{description}}" href="{{baseUri}}/users/group-membership-edit?id={{user.id}}&add={{id}}&{{nonce}}">{{name}}</a></a><td>Group #{{id}}</td>
  </tr>
  {{/groups}}
  {{^groups}}
  <tr>
    <td colspan="2">(none)</td>
  </tr>
  {{/groups}}
</table>
{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}