{{</geminiadmin/admin-layout}}
{{$subtitle}}List User Groups{{/subtitle}}
{{$sub}}<a href="/geminiadmin/users/group-edit">Add New Group</a>{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}geminiadmin/admin-dashboard.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">

</script>{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>User Groups</h2>

<table class="admin-table">
<tr>
  <th align="right">ID</th>
  <th>Name</th>
  <th>Type</th>
  <th align="right">Actions</th>
</tr>

{{#groups}}

{{#builtIn}}
<tr>
  <td class="item numeric">{{group.id}}</td>
  <td><abbr title="{{group.description}}">{{group.name}}</abbr></td>
  <td>Standard</td>
  <td>&nbsp;</td>
</tr>
{{/builtIn}}
{{^builtIn}}
<tr>
  <td class="item numeric">{{group.id}}</td>
  <td><abbr title="{{group.description}}">{{group.name}}</abbr></td>
  <td>Ad-hoc</td>
  <td class="actions"><a title="Edit this group" href="{{baseUri}}/users/group-edit?id={{group.id}}">Edit</a></td>
</tr>
{{/builtIn}}

{{/groups}}
</table>

{{/req}}

{{/adminbody}}
{{//geminiadmin/admin-layout}}