{{</admin/admin-layout}}
{{$subtitle}}List {{req.className}}{{/subtitle}}
{{$sub}}<a href="{{baseUri}}features">Feature List</a>{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}basicadmin/config-features.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">
  function toggle(state, feature) {
    var url = "{{baseUri}}feature-state?" + state + "=" + feature;
    window.location = url;
  }
  
  function enable(feature) {
    toggle("enable", feature);
  }
  
  function disable(feature) {
    toggle("disable", feature);
  }
</script>{{/adminjs}}
{{$adminbody}}

{{#req}}
<h1>Running Configuration</h1>

<div class="features">
{{#roots}}
{{>/admin/features/config-feature}}
{{/roots}}
</div>

{{#config}}
<h2>Configuration</h2>

<p>The current configuration can be copied from the textarea below and
inserted into a configuration file.</p>

<textarea class="config">{{config}}</textarea>
{{/config}}

{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}