{{</admin/admin-layout}}
{{$subtitle}}Email Statistics and Handlers{{/subtitle}}
{{$sub}}{{#req}}<a href="{{baseUri}}/email/queues">Statistics</a><a 
href="{{baseUri}}/email/email-pause">{{#servicer.paused}}Resume{{/servicer.paused}}{{^servicer.paused}}Pause{{/servicer.paused}} outbound</a>{{#dispatcher}}<a
href="{{baseUri}}/email/inbound-email-pause">{{#paused}}Resume{{/paused}}{{^paused}}Pause{{/paused}} inbound</a><a
href="{{baseUri}}/email/inbound-email-immediate">Process inbound</a>{{/dispatcher}}{{/req}}{{/sub}}
{{$adminbody}}
<h1>Outbound Email Statistics</h1>

{{#req}}
<table class="admin-table">
<tr>
  <td class="label">Status</td>
  <td>
    {{#servicer.paused}}PAUSED [ <a href="{{baseUri}}/email/email-pause">Resume</a> ]{{/servicer.paused}}
    {{^servicer.paused}}Running [ <a href="{{baseUri}}/email/email-pause">Pause</a> ]{{/servicer.paused}}
  </td>
</tr>
<tr>
  <td class="label">Queued</td>
  <td>{{servicer.queuedCount}}</td>
</tr>
<tr>
  <td class="label">Sent</td>
  <td>{{servicer.sentCount}}</td>
</tr>
<tr>
  <td class="label">Removed</td>
  <td>{{servicer.removedCount}}</td>
</tr>
<tr>
  <td class="label">Pending</td>
  <td>{{servicer.pendingCount}} (queued but not yet sent or removed)</td>
</tr>
<tr>
  <td class="label">Threads</td>
  <td>{{servicer.senderThreadCount}} active; {{servicer.peakSenderThreadCount}} peak thread{{#servicer_peakPlural}}s{{/servicer_peakPlural}} since application start-up; {{servicer.maximumSenderThreadCount}} maximum permitted</td>
</tr>
</table>

{{#dispatcher}}
<h1>Inbound Email</h1>

<p>[ <a href="{{baseUri}}/email/inbound-email-immediate">Process immediately</a> ]</p>

<table class="admin-table">
<tr>
  <td class="label">Status</td>
  <td>
    {{#paused}}PAUSED [ <a href="{{baseUri}}/email/inbound-email-pause">Resume</a> ]{{/paused}}
    {{^paused}}Running [ <a href="{{baseUri}}/email/inbound-email-pause">Pause</a> ]{{/paused}}
  </td>
</tr>
<tr>
  <td class="label">Processed</td>
  <td>{{totalProcessed}} inbound email{{#dispatcher_totalPlural}}s{{/dispatcher_totalPlural}} processed</td>
</tr>
{{#dispatcher_handlers}}
<tr>
  <td class="label">Handler {{id}}</td>
  <td>{{name}}</td>
</tr>
{{/dispatcher_handlers}}
</table>
{{/dispatcher}}

{{#transport}}
<h1>Configuration</h1>
<table class="admin-table">
<tr>
  <td class="label">Outbound Servers</td>
  <td>
    {{^outboundServers}}(None){{/outboundServers}}
    {{#outboundServers}}
    {{.}}<br/>
    {{/outboundServers}}
  </td>
</tr>
<tr>
  <td class="label">Inbound Servers</td>
  <td>
    {{^inboundServers}}(None){{/inboundServers}}
    {{#inboundServers}}
    {{.}}<br/>
    {{/inboundServers}}
  </td>
</tr>
<tr>
  <td class="label">Retry Limit</td>
  <td>{{ retryLimit }}</td>
</tr>
<tr>
  <td class="label">Delivery Domains</td>
  <td>
    {{^deliveryDomains}}(Not limited){{/deliveryDomains}}
    {{#deliveryDomains}}
    {{.}}
    {{/deliveryDomains}}
  </td>
</tr>
</table>
{{/transport}}

{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}