{{</admin/admin-layout}}
{{$subtitle}}JDBC Connections{{/subtitle}}
{{$sub}}{{/sub}}
{{$adminjs}}{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>JDBC Connection Profiles</h2>

<table class="admin-table">
  {{#profiles}}
  <tr><td>{{.}}</td></tr>
  {{/profiles}}
</table>
{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}