{{</admin/admin-layout}}
{{$subtitle}}{{ app.env.naame }} Log [{{ app.env.descriptor }}]{{/subtitle}}
{{$sub}}{{#req}}{{>/admin/logs-subnav}}{{/req}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}basicadmin/admin-notifications.css" />
<link rel="stylesheet" href="{{app.path.css}}basicadmin/basicadmin-logmonitor.css" />
{{/auxCss}}
{{$adminjs}}
{{#req}}
<script type="text/javascript">
$(function(){
  var svUrl = '{{baseUri}}/monitor/log-monitor';
  var channelID = {{ChannelID}};
  var channels = {{{Channels}}};
 
  logmonitor.init(svUrl, channelID, channels);
});
</script>
{{/req}}
{{/adminjs}}
{{$adminbody}}
 
{{#req}}
<h2>Log Monitor</h2>
<div id='banner'>
  {{ app.env.name }} [{{ app.env.descriptor }}]<br/>
  <span id='channel'>
  </span><br/>
  <span id='stats'>
    <span id='displayed'>0</span> displayed; <span id='captured'>0</span> captured
  </span><br/>
  <span id='levels'>
    <a href="javascript:void(0)" id='t0' class="level" data-level="0">0</a>
    <a href="javascript:void(0)" id='t10'class="level" data-level="10">10</a>
    <a href="javascript:void(0)" id='t30' class="level selected" data-level="30">30</a>
    <a href="javascript:void(0)" id='t50' class="level" data-level="50">50</a>
    <a href="javascript:void(0)" id='t70' class="level" data-level="70">70</a>
    <a href="javascript:void(0)" id='t90' class="level" data-level="90">90</a>
    <a href="javascript:void(0)" id='t100' class="level" data-level="100">100</a>
  </span>
  <span id='controls'>
    <input name='filter' id='filter' value='' />
    <a href="javascript:void(0)" id='togglecapture'>Pause</a>
    <a href="javascript:void(0)" id='toggletrack' class='selected'>Follow</a>
  </span>
</div>
<div id='log'><table cellpadding='0' cellspacing='0'><tbody id='logdata'></tbody></table></div>
{{/req}}
 
{{/adminbody}}
{{//admin/admin-layout}} 