{{</admin/admin-layout}}
{{$subtitle}}Administrative Notifications{{/subtitle}}
{{$sub}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}basicadmin/admin-notifications.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">
var not = {{#req}}{{{notifications}}}{{/req}};
renderNotifications(not, "#not");

function renderNotifications(not, elementID) {
  if (not.length > 0) {
    var content = "";
    for (var i in not) {
      content += "<tr id='row" + i + "' onclick='viewNotificationDetails(" + i + ");' class='" + not[i].severity.toLowerCase() + "'>";
      content += "<td><a href='javascript:viewNotificationDetails(" + i + ");'>" + gba.standardDateString(new Date(not[i].time)) + "</a></td>";
      content += "<td>" + not[i].severity.toLowerCase() + "</td>";
      content += "<td>" + gba.abbrTruncate(not[i].synopsis, 55, 500) + "</td>";
      content += "<td>" + gba.abbrTruncate(not[i].source, 30) + "</td>";
      content += "</tr>";
    }
    $(elementID).html(content);
    viewNotificationDetails(0);
  }
}

function viewNotificationDetails(index) {
  $("#detail").html(not[index].details);
  $("#not").find("tr").removeClass("selected");
  $("#row" + index).addClass("selected");
}
</script>{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>Administrative Notifications</h2>

<table id="list" class="admin-table">
<tr>
  <th colspan="2">Time / Severity</th>
  <th>Synopsis</th>
  <th>Source</th>
</tr>
<tbody id="not">
<tr>
  <td colspan="4" align="center">-- No notifications captured yet --</td>
</tr>
</tbody>
</table>

<div id="rightside">
  <div id="detailbanner">Detail</div>
  <div id="detail">
  </div>
</div>

{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}