{{</admin/admin-layout}}
{{$subtitle}}Log Listeners{{/subtitle}}
{{$sub}}{{#req}}{{>/admin/logs-subnav}}{{/req}}{{/sub}}
{{$adminjs}}
{{#req}}
<script type="text/javascript">

var ix = {{ix}};

$(".ix").each(function() {

  $(this).on('change',function() {
    var tix = this.name.substring(2),
        level = this.value;

    // Update the threshold.
    $.ajax({
      url: "{{baseUri}}/monitor/logs",
      dataType: 'json',
      type: 'post',
      data: { "ix": tix, "level": level },
      success: function(data) {
      },
      failure: function() {
      }
    });
  });
});
</script>
{{/req}}
{{/adminjs}}
{{$adminbody}}

{{#req}}
<h2>Log Thresholds</h2>

<table class="admin-table">
<tr>
  <th>Log</th>
  <th colspan="2">Threshold</th>
</tr>
{{#logListeners}}
<tr>
  <td class="item" style="vertical-align: middle">{{name}}</td>
  <td>{{{menu}}}</td>
  <td style="vertical-align: middle">(Include messages at this level and above)</td>
</tr>
{{/logListeners}}

</table>
{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}