{{</admin/admin-layout}}
{{$subtitle}}Scheduled events{{/subtitle}}
{{$sub}}{{#req}}<a href="{{baseUri}}/system/event-list">Event list</a>{{/req}}{{/sub}}
{{$adminbody}}
<h1>Scheduled events</h1>

{{#req}}
<table class="threadlist admin-table">
<tr>
  <th colspan="3">Event</th>
  <th>Status</th>
  <th>Last Run</th>
  <th>Duration</th>
  <th>Last Complete</th>
  <th>Next Run Time</th>
</tr>

{{#events}}
<tr>
  <td>{{{name}}}</td>
  <td style="padding-left: 15px;">
    <a href="{{baseUri}}/system/event-run?id={{id}}">Run now</a>
  </td>
  <td>
    <a href="{{baseUri}}/system/event-pause-resume?id={{id}}">{{#enabled}}Disable{{/enabled}}{{^enabled}}Enable{{/enabled}}</a>
  </td>
  <td class="{{#enabled}}paused{{/enabled}}">
    {{#enabled}}Enabled{{/enabled}}
    {{^enabled}}Disabled{{/enabled}}
  </td>
  {{#executing}}
  <td colspan="2" align="center">{{executing}}</td>
  {{/executing}}
  {{^executing}}
  <td>{{lastRun}}</td>
  <td>{{lastDuration}}</td>
  {{/executing}}
  <td>{{lastCompletion}}</td>
  <td>{{nextRun}}</td>
</tr>
{{/events}}

{{^events}}
<tr>
  <td>(None)</td>
</tr>
{{/events}}

<tr class="sub">
  <th colspan="8">Configuration</td>
</tr>
{{#nextCheck}}
<tr>
  <td class="label">Next check time</td>
  <td colspan="7">{{.}}</td>
</tr>
{{/nextCheck}}
<tr>
  <td class="label">Scheduler polling interval</td>
  <td colspan="7">{{sleepTime}} milliseconds</td>
</tr>
<tr>
  <td class="label">Application uptime</td>
  <td colspan="7">{{uptime}}</td>
</tr>
</table>
{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}