{{</admin/admin-layout}}
{{$subtitle}}User List{{/subtitle}}
{{$sub}}{{#req}}{{>/admin/user-subnav}}{{/req}}{{/sub}}
{{$auxCss}}<link rel="stylesheet" href="{{app.path.css}}basicadmin/admin-dashboard.css" />{{/auxCss}}
{{$adminjs}}<script type="text/javascript">

</script>{{/adminjs}}
{{$adminbody}}

{{#req}}

<h2>User List</h2>

<form id="userlist" action="{{baseUri}}/users/user-list" method="post">

<div class="horizontal-form user-list-form">
<ol>
{{#form.map}}
<li>{{{username}}}<label>{{username.displayName}}</label></li>
<li>{{{email}}}<label>{{email.displayName}}</label></li>
<li>{{{firstname}}}<label>{{firstname.displayName}}</label></li>
<li>{{{lastname}}}<label>{{lastname.displayName}}</label></li>
<li>{{{disabled}}}<label>{{disabled.displayName}}</label></li>
{{>/admin/custom/user-list-form}}
<li>{{{filter}}}</li>
{{/form.map}}
</ol>
<div class="clear"></div>
</div>

</form>

{{{paging.render}}}

<table class="admin-table">
<tr>
  <th>Username</th>
  <th>Groups</th>
  <th>Email</th>
  <th>First name</th>
  <th>Last name</th>
{{#customColumns}}
  <th>{{displayName}}</th>
{{/customColumns}}
{{#customActions}}
  <th colspan="{{customActionCount}}">Actions</th>
{{/customActions}}
</tr>
{{#users}}
<tr>
  {{#id}}
  <td class="item"><a href="{{baseUri}}/users/user-edit?id={{.}}">{{username}}</a></td>
  <td><a href="{{baseUri}}/users/group-membership-edit?id={{.}}">Groups</a></td>
  {{/id}}
  {{^id}}
  <td class="item">{{username}}</td>
  <td>--</td>
  {{/id}}
  <td>{{email}}</td>
  <td>{{firstName}}</td>
  <td>{{lastName}}</td>
  {{#columns}}
  <td>{{.}}</td>
  {{/columns}}
  {{#actions}}
  <td>{{{.}}}</td>
  {{/actions}}
</tr>
{{/users}}
</table>

{{{paging.render}}}

<p>{{summary}}</p>

{{/req}}

{{/adminbody}}
{{//admin/admin-layout}}