<p>Welcome to <b>EncryptedMessageboard</b>.  Please login below.</p>

  <form id="login-form" class="login-form auto-focus vert-margin40">
  <input type="hidden" name="r" id="r" value=""/><div class="form-container centered-400 peach">
    <div id="errors"></div>
    <div class="form-row">
      <input type="text" name="lhuser" value="" size="100" maxlength="100" id="lhuser"/><label class="label" for="lhuser">Username</label>
    </div>
    <div class="form-row">
      <input type="password" id="lhpass" name="lhpass" value="" size="30" maxlength="30"/><label class="label" for="lhpass">Password</label>
    </div>
    <div class="form-row">
      <span class="label"></span><input type="submit" name="lhlogin" value="Login" readonly="readonly" id="lhlogin" />
      <span class="modifier"><input type="checkbox" id="lhremember" name="lhremember" value="y"/> Remember me</label></span>
    </div>
  </div>
  </form>

  <p>Forgot your password?  <a href="/password-reset">Reset it</a>.</p>