<p>Your password-request authorization has been accepted.  Provide a new password for your account in the form below.</p>

<form id="password-reset-process-form" method="post" class="auto-focus vert-margin40">
<input type="hidden" name="un" id="un" value="{{un}}" />
<input type="hidden" name="vt" id="vt" value="{{vt}}" />
<div class="form-container centered-400 peach">
  <div id="errors"></div>
  <div class="form-row">
    <label class="label" for="pw">Password</label><input type="password" name="pw" id="pw" length="30" maxlength="30" />
  </div>
  <div class="form-row">
    <label class="label" for="pw-confirm">Confirm</label><input type="password" name="pw-confirm" id="pw-confirm" length="30" maxlength="30" />
  </div>
  <div class="form-row">
    <span class="label"></span><input type="submit" name="submit" id="submit" value="Submit" />
  </div>
</div>