<h1>{{#keyExists}}Edit{{else}}Setup{{/keyExists}} Profile</h1>

<form class="login-form auto-focus vert-margin40">
  <div class="form-container centered-400 peach">
    <div id="errors"></div>
    <div id="success"></div>
    <div class="form-row">
      <input type="text" disabled="disabled" value="{{currentUser.userUsername}}" /><label class="label">Username</label>
    </div>
    <div class="form-row">
      <input type="text" name="firstname" id="firstname" value="{{currentUser.userFirstname}}" /><label for="firstname" class="label">First name</label>
    </div>
    <div class="form-row">
      <input type="text" name="lastname" id="lastname" value="{{currentUser.userLastname}}" /><label for="lastname" class="label">Last name</label>
    </div>
    <div class="form-row">
      <input type="email" name="email" id="email" value="{{currentUser.userEmail}}" /><label for="email" class="label">E-mail</label>
    </div>
    <div class="form-row">
      <textarea id="publicKey" name="publicKey">{{currentUser.userPublicKey}}</textarea><label for="publicKey" class="label">Public Key</label>
    </div>
    <div class="form-row">
      <textarea id="privateKey" name="privateKey">{{privateKeyArmored}}</textarea><label for="privateKey" class="label">Private Key</label>
    </div>
    <div class="form-row">
      <input type="submit" name="Save" value="Save" id="save" /><label for="save" class="label">&nbsp;</label>
    </div>
  </div>
</form>

<div id="newKey" style="display:none;">
  <h1>Success!</h1>
  <p>Your new public and private keys are entered into the public/private key fields.
  <p>Again, the private key will NEVER be sent to the server; this private key is YOUR private key and the only way to decrypt messages encrypted using your new public key.
  <p>You can check the <a href="/faq">FAQ</a> for more information on how the public/private keys are used on the site and how to verify your privacy.
  <p>Note: NEVER give your private key to anyone or they will be able to decrypt messages sent to you.
</div>

<div id="confirmNew" style="display:none;">
  <h1>New Keypair</h1>
  <p>Generating a keypair is a mathematically complicated operation. Your browser may seem to have crashed, but it is working; give it a chance to finish.
  <p>After your keypair is generated, the public and private key fields will be automatically updated for you.
  <p>Note: Keep your private key private! [TODO] will never ask you for your private key, and saving the profile page will NOT upload your private key.
  <div><center><button class="doit">Do it!</button></center></div>
</div>
<div id="confirmOld" style="display:none;">
  <h1>New Keypair</h1>
  <p>Are you sure you want to replace the current keypair?
  <p>IMPORTANT: If you replace your current keypair, any old messages sent to you will no longer be able to be decrypted. This means that those messages are ostensibly lost forever.
  <p>You can check the <a href="/faq">FAQ</a> for more information on public/private keys and how they are used.
  <div><center><button class="doit">Do it!</button></center></div>
</div>

<div class="tip" id="firstnametip" style="display:none;">
  <h5>First name</h5>
  <div class="note">Not required</div>
  <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
  <div class="instruction">Providing your first name may help people find and contact you.</div>
</div>

<div class="tip" id="lastnametip" style="display:none;">
  <h5>Last name</h5>
  <div class="note">Not required</div>
  <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
  <div class="instruction">Providing your last name may help people find and contact you.</div>
</div>

<div class="tip" id="emailtip" style="display:none;">
  <h5>E-mail Address</h5>
  <div class="note">Not required</div>
  <div class="note">[TODO] will never contact you via e-mail.</div>
  <div>Unlike many other sites, this infomation is not required, but will show on your public profile if provided.</div>
  <div class="instruction">Providing your e-mail address may help people find and contact you, but this information is public and so anyone can potentially e-mail you if you provide it.</div>
</div>

<div class="tip" id="publicKeytip" style="display:none;">
  <h5>Public Key</h5>
  <div class="note">Required</div>
  <div>Your public key is used by others to encrypt messages that only you, the owner of the private key, can decrypt.</div>
  <div class="instruction">You can copy and paste a PGP/GPG-generated RSA Public Key here, or we can do it for you:<br/><button id="generate">Generate a keypair</button></div>
</div>

<div class="tip" id="privateKeytip" style="display:none;">
  <h5>Private Key</h5>
  <div class="note">Required</div>
  <div class="note">[TODO] will never ask for your private key.</div>
  <div>Your private key is used to decrypt messages others have sent to you using your public key for encryption. Your private key is never sent to the server.</div>
  <div>You can read more about how public and private keys are used on the <a href="/faq">FAQ</a>.</div>
  <div class="instruction">Never give this to anyone; this is how your messages stay private.</div>
</div>