<h1>Register</h1>

<p>Right at the moment, we only need a username and password.

<p>After creating your user account, you will go to the profile page to add your public key.

<form id="register-form" class="login-form auto-focus vert-margin40">
  <div class="form-container centered-400 peach">
    <div id="errors"></div>
    <div class="form-row">
      <input type="text" name="username" value="" size="100" maxlength="100" id="username"/><label class="label" for="username">Username</label>
    </div>
    <div class="form-row">
      <input type="password" id="password" name="password" value="" size="30" maxlength="30"/><label class="label" for="password">Password</label>
    </div>
    <div class="form-row">
      <span class="label"></span><input type="submit" name="submit" value="Register" readonly="readonly" id="submit" />
    </div>
  </div>
</form>